<!DOCTYPE html>
<html>
<head>
  <title>TwitterBootstrap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <meta name="viewport" content="width=divice-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
        <a class="close" date-dismiss="alert">x</a> <!-- アラートダイアログにxボタンをつける-->
        <%= msg %>
      </div>
  <% end %>
  <div class="span8">
    <%= yield %>
  </div>
  <div class="span4">
    <h2>Side bar<h2>
    <p>ラブライブは全世界1500万ダウンロードされる人気です。世界に大人気だぜ！！</p>
  </div>
</div>

</body>
</html>
